body {
    background-color: lightblue;   
}

#score-box {
    padding: 15px;
}


/* ANSWER BUTTON SECTION */

#answer-a-box{
    padding-top: 10px;
    padding-bottom: 10px;
}

#answer-b-box{
    padding-bottom: 10px;
}

.hide {
    display: none;
}

#answer-d-box{
    padding-top: 10px;
    padding-bottom: 10px;
}

#answerAText {
    padding-left: 10px;
}

#answerBText {
    padding-left: 10px;
}

#answerCText {
    padding-left: 10px;
}

#answerDText {
    padding-left: 10px;
}


/* START, RESET, NEXT BUTTON SECTION */

#main-buttons {
    margin-top: 30px;
    padding: 30px;
}

#reset-button {
    padding-left: 50px;
}

#next-button {
    padding-left: 50px;
}

#save-button {
    padding-left: 50px;
}

/* QUIZ OVER */

#quiz-over-box {
    text-align: center;
}