body {
    background-color: lightblue;   
}
div {
    display: inline-block;
}
#score-box {
    padding: 15px;
}


.hide {
    display: none;
}
.show {
    display: flex-inline-block;
}

/* ANSWER BUTTON SECTION */

#answer-a-box{
    padding-top: 10px;
    padding-bottom: 10px;
}

#answer-b-box{
    padding-bottom: 10px;
}

.wrong-answer{
    background-color: red;
    display: flex-inline-block;
}

.correct-answer{
    background-color: green;
    display: flex-inline-block;
}

#answer-d-box{
    padding-top: 10px;
    padding-bottom: 10px;
}

#answerAText {
    padding-left: 10px;
}

#answerBText {
    padding-left: 10px;
}

#answerCText {
    padding-left: 10px;
}

#answerDText {
    padding-left: 10px;
}


/* START AND RESET BUTTON SECTION */

#main-buttons {
    margin-top: 30px;
    padding: 30px;
}

#reset-button {
    padding-left: 50px;
}

#next-button {
    padding-left: 50px;
}